%h1 Create New Item

= form_tag items_path do

  = label :item, :category, 'Category'
  = select :item, :category, Item.all_categories
  
  = label :item, :title, 'Title'
  = text_field :item, 'title'
  
  = label :item, :description, 'Description'
  = text_area :item, 'description', size: "60x12"
  
  = label :item, :price, 'Price'
  = number_field :item, 'price', step: :any

  = submit_tag 'Post Listing'
  
  = submit_tag "Cancel"
